<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= partial 'partials/meta-seo' %>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use title if it's in the page YAML frontmatter -->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "all" %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67417092-1', 'auto');
      ga('send', 'pageview');

    </script>    
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <!-- Javascripts -->
    <%= javascript_include_tag  "all" %>
    <script src="./javascripts/sharecontest-v1.js" type="text/javascript"></script>
    <script>
      // init contest //
      $("#contest").shareContestFB({
        context: {
          fbAppId: "1492821724366819",
          fbShareTitle: "WIN A FENDER STRATOCASTER FROM WAGE WAR",
          fbShareLink: "http://fearlessrecords.com/app/webroot/wagewar/",
          fbImageUrl: "https://s3.amazonaws.com/myfangate.com/wagewar/shareimage.jpg",
          fbSubText: "http://fearlessrecords.com/app/webroot/wagewar/",
          fbDialog: "SHARE THE MUSIC VIDEO FOR “TWENTYONE” AND WIN A SIGNED FENDER STRATOCASTER",
          formActionUrlId: "1YOkCdLQiBprJR6v82MN2J_ZNQkWhw7AfGYYgsqZj4yo",
          firstNameId: "749925490",
          lastNameId: "453795809",
          emailId: "1493557255",
          optInId: "583147646",
          rulesId: "1082888376",
          fbCheckId: "701792494",
          twitterCheckId: "1730686214",
          contactName: "Fearless Records",
          rulesLink: "http://google.com",
          thankYouMsg: "Thanks for entering!",
        }
      });
    </script>    
  </body>
</html>
