<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= partial 'partials/meta-seo' %>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use title if it's in the page YAML frontmatter -->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="./favicon.png" type="image/x-icon" />
    <!-- Stylesheets -->
    <%= stylesheet_link_tag "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <!-- Javascripts -->
    <%= javascript_include_tag  "all" %>
    <script src="./javascripts/sharecontest-v1.js" type="text/javascript"></script>
    <script>
      // init contest //
      $("#contest").shareContestFB({
        context: {
          fbAppId: "1492821724366819",
          fbShareTitle: "WIN A FENDER STRATOSPHERE FROM WAGE WAR",
          fbShareLink: "http://wagewarband.com/twentyone",
          fbImageUrl: "https://s3.amazonaws.com/myfangate.com/wagewar/shareimage.jpg",
          fbSubText: "http://wagewarband.com/twentyone",
          fbDialog: "SHARE THE MUSIC VIDEO FOR “TWENTYONE” AND WIN A SIGNED FENDER STRATOSPHERE",
          formActionUrlId: "1YOkCdLQiBprJR6v82MN2J_ZNQkWhw7AfGYYgsqZj4yo",
          firstNameId: "749925490",
          lastNameId: "453795809",
          emailId: "1493557255",
          optInId: "583147646",
          rulesId: "1082888376",
          fbCheckId: "701792494",
          twitterCheckId: "1730686214",
          contactName: "Fearless Records",
          rulesLink: "http://google.com",
          thankYouMsg: "Thanks for entering!",
        }
      });
    </script>    
  </body>
</html>
