<div id="bundles" class="container">
	<div class="row">
	  	<div class="col-lg-10 col-lg-offset-1 text-center bundle-header">
	  		<h2 class="tan">Pre-Order Bundles Are Available</h2>
	  	</div>  
		<div class="col-lg-4 col-md-4 col-sm-6 bundle">
			<img class="full-w" src="<%= lorem.image('640x640') %>">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bundle">
			<img class="full-w" src="<%= lorem.image('640x640') %>">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bundle">
			<img class="full-w" src="<%= lorem.image('640x640') %>">
		</div>				
		<div class="col-lg-4 col-md-4 col-sm-6 bundle">
			<img class="full-w" src="<%= lorem.image('640x640') %>">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bundle">
			<img class="full-w" src="<%= lorem.image('640x640') %>">
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6 bundle">
			<img class="full-w" src="<%= lorem.image('640x640') %>">
		</div>				
	</div>	
</div>