<div id="wrapper">
	<%= partial 'partials/header' %>
	<%= partial 'partials/video' %>
	<%= partial 'partials/contest' %>
	<%= partial 'partials/bundles' %>
	<%= partial 'partials/social' %>
	<%= partial 'partials/footer' %>
</div>